<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To-Do List</title>
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <!-- note that we do not need to put public/css/styles.css! -->
</head>

<body>
  <div>
    <div class="title">
      <h1> <%= listTitle%> </h1>
    </div>
    <h3 class="quote-annoucement"> Stoic quote of the day: </h3>
    <h3 class="quote"><%= randomStoicQuote%></h3>
    <h3 class="author"><%= stoicAuthor %></h3>
    <% newListItems.forEach(function(item) { %>
      <form class="" action="/delete" method="post">
        <div class="new-task">
          <input type="checkbox" name="checkbox" value="<%= item._id%>" onChange="this.form.submit()">
          <p class="text-format"><%= item.name %></p>
        </div>
      </form>
    <% }) %>
    <div class="add-task-bar">
      <form class="" action="/" method="post">
        <input type="text" class="text-input" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list">+</button>
      </form>
    </div>
    <div class="">
      <form class="" action="/deleteAll" method="post">
        <button class="clear-tasks" type="submit" name="clear-all">Clear All</button>
      </form>
    </div>
  </div>
</body>

</html>
